<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
</head>

<body>
    <input id="room_id" type="text" placeholder="room id" />
    <input id="client_id" type="text" placeholder="이름" />
    <button id="connect">연결</button>
    <div><input id="message" type="text" placeholder="메세지 입력" />
        <button id="send">전송</button>
    </div>

    <div id="messages"></div>

    <script>
        let websocket;

        const isMobile = /Mobi/i.test(window.navigator.userAgent);

        const connect = document.getElementById('connect');

        connect.addEventListener(`${isMobile ? 'touchstart' : 'click'}`, () => {
            const roomId = document.getElementById('room_id').value;
            const clientId = document.getElementById('client_id').value;

            // ws://localhost:8000/ws/${roomId}/${clientId}
            websocket = new WebSocket(`ws://3.36.25.113:8000/ws/${roomId}/${clientId}`);
            // console.log('date', date);

            const messagesDiv = document.getElementById('messages');

            // 최초 연결 시 한번 등록
            // 메시지를 수신
            websocket.onmessage = function (event) {
                messagesDiv.innerHTML += `<p>#client_id ${event.data}</p>`;
            };

            // 연결을 끊을 때
            websocket.onclose = function (event) {
                console.log('Connection closed', event);
            };
        });

        // 메시지 전달 시
        document.getElementById('send').onclick = function () {
            const messageInput = document.getElementById('message');
            const message = messageInput.value;
            console.log('message', message);
            websocket.send(message);

            messageInput.value = '';  // 입력란 비우기
        };
    </script>
</body>

</html>